$dark-bg: #494f58;
$white: #fff;
$color-offwhite: #d1d5db;
$color-danger: #e02424;
$title-color: #1f2a37;
$text-color: #2e384a;
$placeholder-color: #616875;
$color-success: #4da467;
$hint-color: #6b7280;
$border-color: #bec2c9;
$secondary-btn-border: #111928;
$background-color: #e5e7eb;
